<div th:fragment="ongListComponen" class="ongCard">
    <div class="ongCard-image">
        <img width="100px" src="https://media.licdn.com/dms/image/C4E0BAQG4Z6SahOGH9w/company-logo_200_200/0/1630643247617?e=2147483647&v=beta&t=b5gAPw0GDhUKh2Fu3mrdnZBcOTnBRbfk2Mp-3esopkQ" alt="">
    </div>
    <div class="ongCard-content">
        <a class="ongCard-title" href="https://www.abcaprendiz.org.br/" target="_blank" rel="noopener noreferrer">ABC APRENDIZ</a>
        <p class="ongCard-text">O ABC Aprendiz – Centro Social de Educação para o Trabalho é uma associação privada, filantrópica e sem fins lucrativos.</p>
        <a href="#" class="ongCard-link">Saiba Mais</a>
    </div>
</div>