<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/dashboardfragments :: dashboardIndex}"></head>
  <link rel="stylesheet" href="/assets/css/login.css">

  <body class="hold-transition login-page">
    

    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a th:href="@{/}"><img class="py-2" th:src="@{/assets/img/logo.svg}" width="150" alt=""></a>
          <!-- <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a> -->
        </div>
        <div class="card-body">
          <p class="login-box-msg">Entre para iniciar sua sessão</p>
    
          <form th:action="@{/auth/login}" method="post">
            <div class="input-group mb-3">
              <input name="username" id="username" type="email" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input name="password" id="password" type="password" class="form-control" placeholder="Senha">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Lembrar-me
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <div class="social-auth-links text-center mt-2 mb-3">
            <a href="https://accounts.google.com/v3/signin/identifier?hl=pt_BR&ifkv=AS5LTAR6pfH_y8mGMjdV7VY1NPKcBQVOitOFCeAEa4_xqINk1o2-QZR3UieLvXIj-Bk_ODSroNdwaA&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-281279670%3A1717790099433367&ddm=0" class="btn btn-block btn-danger">
              <i class="fab fa-google mr-2"></i> Entrar com o Google
            </a>
          </div>
          <!-- /.social-auth-links -->
    
          <p class="mb-1">
            <a href="forgot-password.html">Esqueci minha senha</a>
          </p>
          <p class="mb-0">
            <span>Não possui uma conta? </span>
            <a th:href="@{/auth/register}" class="text-center">Registre-se</a>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->

    <div class="whats">
      <a href="https://wa.me/55895548855" target="_blank">
      <img src="\assets\img\whatsapp1.png" width="100" alt="Fale conosco pelo Whatsapp" title="Fale conosco pelo Whatsapp">
      </a>
    </div>
    
    <!-- jQuery -->
    <script th:src="@{/assets/dashboard/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap 4 -->
    <script th:src="@{/assets/dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/assets/dashboard/dist/js/adminlte.min.js}"></script>
  </body>
</html>
