<section 
    class="flex text-gray-700 flex-col justify-center h-screen items-center "
    >
    
    <div     
        class="flex flex-col max-w-md bg-gray-100 shadow-md text-center w-screen center p-6 rounded-xl">
        <h1 class="flex justify-center text-2xl font-extrabold text-[#1D3273] "><a
          href="/"
          class="flex items-center gap-2"
        ><box-icon color="#1D3273" name="world"></box-icon> Registre-se</a></h1>

        <div class="container">
  <div class="flex flex-col mt-2">
    <h2 class="text-xl font-semibold mb-4">Dados Pessoais</h2>
    <div class="grid grid-cols-1 gap-4 overflow-y-scroll max-h-96 to-blue-500 ">
      <input type="text" id="firstName" placeholder="Nome" class="border border-blue-500 rounded-md py-2 px-4 w-full focus:border-blue-500" />
      <input type="text" id="lastName" placeholder="Sobrenome" class="border border-blue-500 rounded-md py-2 px-4 w-full focus:border-blue-500" />
      <input type="date" id="birthDate" placeholder="Data de Nascimento" class="border border-blue-500 rounded-md py-2 px-4 w-full focus:border-blue-500" />
      <select id="gender" class="border border-blue-500 rounded-md py-2 px-4 w-full focus:border-blue-500">
        <option value="">Gênero</option>
        <option value="male">Masculino</option>
        <option value="female">Feminino</option>
      </select>
      <input type="tel" id="phone" placeholder="Telefone" class="border border-blue-500 rounded-md py-2 px-4 w-full focus:border-blue-500" />
      <input type="email" id="email" placeholder="email@email.com" class="border border-blue-500 rounded-md py-2 px-4 w-full focus:border-blue-500" />
      <input type="password" id="password" placeholder="********" class="border border-blue-500 rounded-md py-2 px-4 w-full focus:border-blue-500" />
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white rounded-md py-2 px-4 w-full">Enviar</button>
    <div>
      <button
        type="submit"
        class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-gray-700 bg-white hover:bg-gray-100/90 transition ease-in-out transform shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 "
      >
        <div class="flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            class="w-6 h-6"
            viewBox="0 0 48 48"
          >
            <defs>
              <path
                id="a"
                d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"
              ></path>
            </defs>
            <clipPath id="b">
              <use xlink:href="#a" overflow="visible"></use>
            </clipPath>
            <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"></path>
            <path
              clip-path="url(#b)"
              fill="#EA4335"
              d="M0 11l17 13 7-6.1L48 14V0H0z"
            ></path>
            <path
              clip-path="url(#b)"
              fill="#34A853"
              d="M0 37l30-23 7.9 1L48 0v48H0z"
            ></path>
            <path
              clip-path="url(#b)"
              fill="#4285F4"
              d="M48 48L17 24l-4-3 35-10z"
            ></path>
          </svg>
          <span class="ml-4"> Registre-se com Google</span>
        </div>
  </div>
  
</div>

</section>